/*!
Section 3: Body
*/

body {
    font-size: 1.1rem;
    font-family: "Open Sans",sans-serif;
    font-weight: 500;
    line-height: 1.5;
    //color: #606060;
    color: #404040;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

h1,h2,h3,h4,h5,h6,h7 {
    font-family: "Raleway",sans-serif
}

img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

.columns.gateway-header img {
   width: 100%;
   max-width: 100%;
   height: auto;
}
img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
   width: 100%;
   max-width: 100%;
   height: auto;
}
div#ui-datepicker-div {
    box-shadow: none;
    border: none;
}
  table caption{font-size: 22pt; margin: 10px 0 20px 0; font-weight: 700;}
  table.calendar{width:100%; border:1px solid #000;}
  td.day{width: 14%; height: 140px; border: 1px solid #000; vertical-align: top;padding: 0.5625rem 0.325rem;}
		td.day a{text-decoration: underline;}
  td.day span.day-date{font-size: 14pt; font-weight: 700;}
  th.header{background-color: #003972; color: #fff; font-size: 14pt; padding: 5px;}
  .not-month{background-color: #a6c3df;}
  td.today {background-color:#0062C5; color: #ffffff;}
		td.today a{color: #ffffff;text-decoration: underline;}
		td.day span.today-date{font-size: 16pt;}
		.todayseventslist{padding: 0;list-style: none;margin-bottom: 0;margin-left: 0;} 
